<header class="header">
        <h1 class="header-heading">
            <a href="{% url 'contato:index' %}" class="header-link">
                App Agenda
            </a>
        </h1>
        <nav class="menu">
            <ul class="menu-list">
                <li class="menu-item">
                    <a href="" class="menu-link">
                        Link 1
                    </a>
                </li>
                <li class="menu-item">
                    <a href="" class="menu-link">
                        Link 2
                    </a>
                </li>
            </ul>
        </nav>
        <div class="search">
            <form action="{% url "contato:buscar" %}" method="get">
                <input type="text" class="search-input" 
                placeholder="Buscar..."
                id="busca"
                name="q">
            </form>
        </div>
</header>